<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<!--이 부분이 어떤 네임스페이스에 속하는지 정의한다. user 객체에 속하는 네임스페이스 -->
<mapper namespace="com.example.mybatisStore.user.repository.UserMapper">

    <resultMap id="userResultMap" type="com.example.mybatisStore.user.entity.User">
        <!-- 각 필드와 컬럼을 매핑 -->
        <!-- result = property 를 사용하요 필드 column 속성을 사용하여 데이터베이스 열 -->
        <id property="id" column="id"/>
        <result property="username" column="username"/>
        <result property="email" column="email"/>
        <result property="password" column="password"/>
        <result property="phone" column="phone"/>
        <result property="age" column="age" />
        <result property="address" column="address"/>
    </resultMap>

    <insert id="insertUser" parameterType="com.example.mybatisStore.user.entity.User">
        INSERT INTO user (username, email, password, phone, age, address)
        VALUES (#{username}, #{email}, #{password}, #{phone}, #{age}, #{address})
    </insert>

    <!-- 회원가입, 로그인 : email 중복 검사를 위한 쿼리 -->
    <select id="checkEmailDuplicate" parameterType="java.lang.String" resultType="java.lang.Integer">
        SELECT COUNT(*) FROM user WHERE email = #{email}
    </select>


</mapper>
