<!-- resultType 과 resultMap은 SQl 쿼리 결과를 JAVA 객체에 어떻게 매핑할지를 지정하는 데 사용됩니다.
    resultType 결과의 유형을 간단하게 지정 , resultMap 더 복잡한 매핑 관계 및 중첩 매핑을  정의 할 수 있는더 많은 제어 제공 -->
<!-- resultType 은 SQL 쿼리에서 나온 결과를 어떤 종류의 자바 객체로 받을 지 선택

<select id="getCartById" resultType="com.example.mybatisStore.cart.entity.Cart">
    SELECT cartId, id as id FROM carts WHERE cartId = #{cartId}
</select>

resultType="com.example.mybatisStore.cart.entity.Cart 는 쿼리 결과를 Cart 타입의 객체로 받겠다는 것

resultMap 재사용 가능, 복잡한 매핑 및 관계 정의
-->

<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">

<mapper namespace="com.example.mybatisStore.store.repository.StoreMapper">


    <!-- 상품 생성  -->
    <insert id="insertStore" parameterType="com.example.mybatisStore.store.entity.Store">
        INSERT INTO store (product_name, category_enum ,product_content, product_image, prices)
        VALUES (#{productName}, #{categoryEnum},#{productContent}, #{productImage}, #{prices})
        <selectKey keyProperty="productId" resultType="java.lang.Long" order="AFTER">
            SELECT LAST_INSERT_ID()
        </selectKey>
    </insert>

    <!-- 상품 수정 -->
    <update id="updateStore" parameterType="com.example.mybatisStore.store.entity.Store">
    <![CDATA[
        UPDATE store
        SET product_name    = #{productName},
            category_enum   = #{categoryEnum},
            product_content = #{productContent},
            product_image   = #{productImage},
            prices          = #{prices}
        WHERE product_id = #{productId}
        ]]>
    </update>

    <!-- 카테고리로 상품을 찾을 수 있게 한다 -->
    <select id="getStoresByCategory" parameterType="com.example.mybatisStore.store.entity.Store">
        SELECT * FROM store WHERE category_enum = #{categoryEnum}
    </select>

    <!-- 카테고리로 별로 상품을 찾고 그 중에서 낮은 가격순으로 확인해보기   -->
    <select id="categoryAndLowerPrice" parameterType="com.example.mybatisStore.store.entity.Store">
        SELECT *
        FROM store
        WHERE category_enum = #{categoryEnum}
        ORDER BY prices ASC
    </select>

</mapper>

