<!-- resources/mapper/UserMapper.xml -->
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.example.mybatisStore.user.repository.UserMapper">

    <resultMap id="userResultMap" type="com.example.mybatisStore.user.entity.User">
        <!-- 각 필드와 컬럼을 매핑 -->
        <!-- result = property 를 사용하요 필드 column 속성을 사용하여 데이터베이스 열 -->
        <id property="id" column="id"/>
        <result property="username" column="username"/>
        <result property="email" column="email"/>
        <result property="password" column="password"/>
        <result property="phone" column="phone"/>
        <result property="age" column="age" />
        <result property="address" column="address"/>
    </resultMap>

    <!-- User 아이디로 조회하는 SQL -->
    <select id="getUserById" resultMap="userResultMap">
        SELECT
            id,
            username,
            email,
            password,
            phone,
            age,
            address
        FROM
            users
        WHERE
            id = #{id}
    </select>

</mapper>
